<div class="container">
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" [is_online]="true" pseudo="Online pseudo"></app-member>
    <app-member class="member" pseudo="Offline pseudo"></app-member>
    <app-member class="member" pseudo="Offline pseudo"></app-member>
    <app-member class="member" pseudo="Offline pseudo"></app-member>
    <app-member class="member" pseudo="Offline pseudo"></app-member>
</div>