<div class="container">
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
    <app-server-icon></app-server-icon>
</div>