.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #23272a;
    padding: 15px 0px;
}

.container::-webkit-scrollbar {
    display: none;
}