<div class="container">
    <div class="icon-container">
        <div class="icon"></div>
    </div>
    <div class="message-container">
        <div class="header">
            <div class="pseudo">Pseudo</div>
            <div class="date">20/08/2022</div>
        </div>
        <div class="content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam autem, cupiditate fugiat vel fugit corrupti nesciunt nobis perferendis! A, labore? Nam placeat eveniet voluptatibus excepturi tenetur ab, nobis incidunt cupiditate!
            Minima aliquid ipsam, omnis veritatis natus molestiae non eius error illum porro id eveniet, vel cumque facilis. Dignissimos possimus accusantium dolorum officiis, tenetur, autem, saepe aut vel inventore sed error?
            Facilis maxime in voluptatibus incidunt similique alias neque, molestiae, voluptas consequatur voluptates nemo, debitis possimus mollitia accusantium cupiditate vitae omnis voluptatum. Inventore repellendus dolorem fugiat quasi, dolorum iure ut dolore.
            Libero repudiandae labore, molestiae eaque enim optio doloribus laboriosam quos deleniti quidem vel itaque fugit, odit quae pariatur deserunt quis ullam sint excepturi cupiditate rem, error dolorem corrupti voluptates? Aspernatur.
            Provident, magni amet quaerat voluptatibus harum tempora excepturi quia, modi dolorum, qui eos. Similique voluptate alias incidunt dolore omnis neque nemo eius temporibus doloremque quod repudiandae, dolores debitis, suscipit optio?
        </div>
    </div>
</div>