<div class="container">
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
    <app-channel-item class="item"></app-channel-item>
</div>