<div class="container">
    <div class="header">
        <div class="server-name">Server Name</div>
        <div class="channel-header">
            <div class="channel-name">
                <div class="icon">#</div>
                <div>Channel Name</div>
            </div>
        </div>
    </div>
    <div class="content">
        <app-channel-list class="channels"></app-channel-list>
        <app-chat class="chat"></app-chat>
        <app-member-list class="members"></app-member-list>
    </div>
</div>